<?xml version="1.0"?>
<robot name="qbhand2m" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
	<xacro:arg name="namespace" default="qbhand2m"/>

	<link name="root_link"/>
	<xacro:build_hand_2m_from_yaml configuration="qbhand_right" namespace="$(arg namespace)" parent="root">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:build_hand_2m_from_yaml>

	<gazebo>
		<plugin name="qb_hand_gazebo_plugin" filename="libqb_hand_gazebo_plugin.so"/>
	</gazebo>

</robot>